html, body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: whitesmoke;
  background-color: #2a2a2e;
  width: 210px;
}
.a {
  color: whitesmoke;
  text-decoration: none;	
}
a:visited{
  color: whitesmoke;
  text-decoration: none;	
}
.hidden {
  display: none;
}
.logo {
  width: 50%;
  align-items: center;
}
.logo-wrapper {
  margin-top: 21px;
  width: 100%;
  text-align: center;
}